body {
	/*background-image: url("../images/library-bg.png");*/
	background-size: 100%;
	font-family: 'Muli', sans-serif;
}

h1,
.logo {
    font-family: 'Crimson Text', serif;
}

.logo {
    font-size: xx-large;
}

.logo span {
    color:#449d44;
}

.checked {
    color: orange;
}

.log-in{
    margin-left: 50px;
}

.log-in span{
    color: rgba(255,255,255,.5);
    font-size: smaller;
}

.log-in button {
    color: rgb(240, 162, 28);
}

.log-in button:hover {
    color: rgb(241, 181, 83);
}

header,
footer {
    height: 75px;
    background-color: #040404;
    color: #fff;
}

#featuredrow {
	margin: 0px;
}

#FeaturedCarousel {
	border-bottom: solid 1px black
}

.container {
	height: 350px;
	width: 950px;
}

#Popular-Container {
	margin-top: 35px;
}

#New-Container {
	margin-top: 70px;
	margin-bottom: 100px;
}


#titlerow {
	padding-top: 30px;
}
#bookrow {
	padding-top: 32px;
}

#lefthr {
	background-color: rgba(0, 0, 0, 0.1);
	margin-top: 28px;
	margin-right: 22px;
	width: 200px;
	height: 0px;
}

#righthr {
	background-color: rgba(0, 0, 0, 0.1);
	margin-top: 28px;
	margin-left: 22px;
	width: 200px;
	height: 0px;
}

.card {
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
}

span {
	margin-top: 5px;
}

.bookcover {
	height: 250px;
	width: 150px;
}

#Popular-LArrow, #New-LArrow {
	height: 50px;
	margin-top: 103px;
	margin-right: 5px;
}

#Popular-RArrow, #New-RArrow {
	height: 50px;
	margin-top: 103px;
	margin-left: 5px;
}

#Popular-LArrow, #Popular-RArrow, #New-LArrow, #New-RArrow { 
	transition: all .2s ease-in-out; 
}

#Popular-LArrow:hover, #Popular-RArrow:hover, #New-LArrow:hover, #New-RArrow:hover { 
	transform: scale(1.35); 
}