body {
	/*background-image: url("../images/library-bg.png");*/
	background-size: 100%;
	font-family: 'Muli', sans-serif;
}

h1,
.logo {
    font-family: 'Crimson Text', serif;
}

.logo {
    font-size: xx-large;
}

.logo span {
    color:#449d44;
}

.checked {
    color: orange;
}

.log-in{
    margin-left: 50px;
}

.log-in span{
    color: rgba(255,255,255,.5);
    font-size: smaller;
}

.log-in button {
    color: rgb(240, 162, 28);
}

.log-in button:hover {
    color: rgb(241, 181, 83);
}

header,
footer {
    height: 75px;
    background-color: #040404;
    color: #fff;
}

.container {
	margin-top: 150px;
	/*background-color: grey;*/
	height: 350px;
	width: 950px;
}

#titlerow {
	padding-top: 30px;
}
#bookrow {
	padding-top: 32px;
}

#lefthr {
	background-color: #cccccb;
	margin-top: 28px;
	margin-right: 22px;
	width: 200px;
	height: 1px;
}

#righthr {
	background-color: #cccccb;
	margin-top: 28px;
	margin-left: 22px;
	width: 200px;
	height: 1px;
}

.card {
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
}

span {
	margin-top: 5px;
}

.bookcover {
	height: 250px;
	width: 150px;
}

#LArrow {
	height: 60px;
	margin-top: 88px;
	/*position: relative;
	left: 14%;
	top: 55%;*/
}

#RArrow {
	height: 60px;
	margin-top: 88px;
}