* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-size: 100%;
	font-family: 'Muli', sans-serif;
}

h1,
h3,
.card-title,    
.logo {
    font-family: 'Crimson Text', serif;
}

footer {
	height: 100px;
	background-color: #040404;
	position: inherit;
	bottom: 0;
	width: 100%;
}

footer .logo {
	font-size: 1.25rem;
}

/* Navbar Styling: */
.logo {
	font-size: xx-large;
}

.logo span,
.nav-link {
	color:#5cb85c;
}

.checked {
	color: orange;
}

.log-in{
	margin-left: 50px;
}

.log-in span{
	color: rgba(255,255,255,.5);
	font-size: smaller;
}

.log-in button {
	color: rgb(240, 162, 28);
}

.log-in button:hover {
	color: rgb(241, 181, 83);
}

/*Featured Carousel Styling: */

#featuredrow {
	margin: 0px;
}

#FeaturedCarousel {
	border-bottom: solid 1px black
}

/* Book Styling */
.book img,
.profile-img img {
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main.container {
	width: 70%;
}

p.book-summary {
	line-height: 2em;
}

.on-stock,
.fa-heart-o,
.fa-envelope-o,
.fa-phone,
.fa-book
	{
	display: inline-block;
	padding: 4px 11px;
	margin: 0 12px 0 0;;
	border-radius: 50%;
	border: 1px solid #5cb85c;
	color: #5cb85c;
}

.stock-alert {
	color: #f21111;
	border-color: #f21111;
}

.fa-heart-o,
.fa-envelope-o,
.fa-book{
	padding: 7px;
}

.fa-phone {
	padding: 7px 9px;
}

.fav-on .fa-heart-o,
.fav-selected .fa-heart-o {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-success,
.btn-danger,
.btn-secondary,
#search-input,
.btn-outline-success {
	border-radius: 0;
}

.border-lv {
	padding-left: 45px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.alert{
	padding: 0;
	font-size: 12px;
	color: red;
}

.max-with {
	width: 100%;
}

.hide {
	display: none;
}


/*Popular and New Carousel Styling: */
	#popularitems, #newitems {
		/*background-color: red;*/
		padding-left: 14px;
	}
	#Popular-Container {
		margin-top: 35px;
	}

	#New-Container {
		margin-top: 35px;
		margin-bottom: 100px;
	}


	#titlerow {
		padding-top: 30px;
	}
	#bookrow {
		padding-top: 32px;
	}

	#lefthr {
		background-color: rgba(0, 0, 0, 0.1);
		margin-top: 28px;
		margin-right: 22px;
		width: 18%;
		height: 0px;
	}

	#righthr {
		background-color: rgba(0, 0, 0, 0.1);
		margin-top: 28px;
		margin-left: 22px;
		width: 18%;
		height: 0px;
	}

	.card {
		border: 0px;
		background-color: rgba(0, 0, 0, 0);
	}

	.card span {
		font-size: 15px;
	}

	.book-title {
		margin-top: 5px;
	}

	.bookcover {
		height: 250px;
		width: 150px;
	}

	#Featured-LArrow {
		height: 55px;
		position: absolute;
		top: 166px;
		left: 50px;
		z-index: 2;
	}

	#Featured-RArrow {
		height: 55px;
		position: absolute;
		top: 166px;
		right: 50px;
		z-index: 2;
	}

	#Popular-LArrow, #New-LArrow {
		height: 50px;
		margin-top: 103px;
		margin-right: 5px;
	}

	#Popular-RArrow, #New-RArrow {
		height: 50px;
		margin-top: 103px;
		margin-left: 5px;
	}

	#Popular-LArrow, #Popular-RArrow, #New-LArrow, #New-RArrow { 
		transition: all .2s ease-in-out; 
	}

	#Popular-LArrow:hover, #Popular-RArrow:hover, #New-LArrow:hover, #New-RArrow:hover { 
		transform: scale(1.35); 
	}

/* Media Queries */
@media (max-width: 767px) {
	.book-summary {
		margin-top: 40px;
	}

	.border-lv {
		padding: 0;
		border-left: none;
	}

	.action-book-row .btn {
		width: 100%;	
	}
}

@media (max-width: 414px) {

	#lefthr {
		margin-left: 20px;
		width: 12%;
	}

	#righthr {
		width: 12%;
	}

	#Popular-Container, #New-Container {
		margin-top: 0px;
	}

	#Popular-LArrow, #Popular-RArrow, #New-LArrow, #New-RArrow {
		display: none
	}

	#PopularCarousel, #NewCarousel {
		margin: 0 auto;
	}

	/* #popularitems, #newitems {
		/*background-color: red;*/
		/*padding-left: 60px;
	} */
}